/* Google Fonts Import*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

/* Style Guide & Custom Properties */
:root {
	font-size: 10px;
	--fw-light: 300;
	--fw-reg: 400;
	--fw-med: 500;
	--clr-primary-blue: hsla(246, 80%, 60%, 1);
	--clr-primary-work: hsla(15, 100%, 70%, 1);
	--clr-primary-play: hsla(195, 74%, 62%, 1);
	--clr-primary-study: hsla(348, 100%, 68%, 1);
	--clr-primary-exercise: hsla(145, 58%, 55%, 1);
	--clr-primary-social: hsla(264, 64%, 52%, 1);
	--clr-primary-self-care: hsla(43, 84%, 65%, 1);
	--clr-neutral-very-dark-blue: hsla(226, 43%, 10%, 1);
	--clr-neutral-dark-blue: hsla(235, 46%, 20%, 1);
	--clr-neutral-desaturared-blue: hsla(236, 41%, 34%, 1);
	--clr-neutral-pale-blue: hsla(236, 100%, 87%, 1);
	--clr--btn--passive: hsla(235, 45%, 61%, 1);
	--clr-white: hsla(0, 0%, 100%, 1);
	--ff-primary: "Rubik", sans-serif;
	--fs-body: 1.8rem;
}
/* Showcase Body (Centers Card to Page) - CSS Grid Method */
body {
	min-height: 100vh;
	display: grid;
	place-items: center;
}

/* Initialization, Normalization */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	background: var(--clr-neutral-very-dark-blue);
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	color: var(--clr-white);
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	display: block;
}

h1,
h2,
h3,
h4,
p,
a {
	margin: 0;
	padding: 0;
}

/* Layout */
.container {
	width: 100%;
	max-width: 375px;
	margin: 0 auto;
}

.dash {
	display: grid;
	grid-template-columns: minmax(min-content, max-content);
	grid-template-rows: minmax(min-content, max-content);
	grid:
		"user"
		"work"
		"play"
		"study"
		"exercise"
		"social"
		"self-care";
	gap: 2.4rem;
	margin: 8.1rem 2.4rem;
}

.user,
.work,
.play,
.study,
.exercise,
.social,
.self-care {
	border-radius: 1.5rem;
	overflow: hidden;
}

.user {
	grid-area: user;
	background: var(--clr-neutral-dark-blue);
}

.profile {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	isolation: isolate;
}

.profile::before,
.profile::after {
	content: "";
	position: absolute;
	background: var(--clr-primary-blue);
	width: 100%;
	height: 100%;
	border-radius: 1.5rem;
	z-index: -1;
}

.profile__img {
	width: 6.4rem;
	height: 6.4rem;
	border: 3px solid var(--clr-white);
	border-radius: 50%;
	margin: 3.5rem 2rem 3.4rem 3.2rem;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.profile-text {
	margin-right: 3.9rem;
}

.profile-text__sub-title {
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #bbc0ff;
	margin-bottom: 0.4rem;
}

.profile-text__title {
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	color: #ffffff;
}

.time-periods {
	display: flex;
	justify-content: space-evenly;
	margin: 2.4rem 0 2.5rem 0;
}

.btn {
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #7078c9;
	border: none;
	background: none;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	color: var(--clr-white)
}

.btn--active {
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #ffffff;
}

.work {
	grid-area: work;
	position: relative;
	background: linear-gradient(
		to top,
		var(--clr-neutral-very-dark-blue) 0%,
		var(--clr-primary-work) 50%,
		var(--clr-primary-work) 100%
	);
	isolation: isolate;
	z-index: 1;
}

.work::before,
.work::after {
	content: "";
	position: absolute;
	background-image: url("../images/icon-work.svg");
	background-repeat: no-repeat;
	width: 7.8rem;
	height: 7.8rem;
	top: -10.9px;
	right: 17.42px;
	z-index: 0;
}

.time-report {
	position: relative;
	background-color: var(--clr-neutral-dark-blue);
	border-radius: 1.5rem;
	margin-top: 3.8rem;
	padding: 2.8rem 2.4rem 2.8rem 2.4rem;
	isolation: isolate;
	z-index: 2;
}

.time-report:hover,
.time-report:focus {
	background-color: var(--clr-neutral-desaturared-blue);
	cursor: pointer;
}

.time-report__top,
.time-report__btm {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.time-report__top {
	margin-bottom: 0.6rem;
}

.time-report__icon:hover,
.time-report__icon:focus {
	filter:  brightness(0) invert(1);
	cursor: pointer;
}

/* Time report typographty */
.time-report__top--title {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.time-report__btm--time {
	font-family: Rubik;
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 38px;
	color: #ffffff;
}

.time-report__btm--previous {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	text-align: right;
	color: #bbc0ff;
}

.play {
	grid-area: play;
	position: relative;
	background: linear-gradient(
		to top,
		var(--clr-neutral-very-dark-blue) 0%,
		var(--clr-primary-play) 50%,
		var(--clr-primary-play) 100%
	);
	isolation: isolate;
	z-index: 0;
}

.play::before,
.play::after {
	content: "";
	position: absolute;
	background-image: url("../images/icon-play.svg");
	background-repeat: no-repeat;
	width: 9rem;
	height: 9rem;
	top: -14.4px;
	right: 11px;
	z-index: -1;
}

.study {
	grid-area: study;
	position: relative;
	background: linear-gradient(
		to top,
		var(--clr-neutral-very-dark-blue) 0%,
		var(--clr-primary-study) 50%,
		var(--clr-primary-study) 100%
	);
	isolation: isolate;
	z-index: 0;
}

.study::before,
.study::after {
	content: "";
	position: absolute;
	background-image: url("../images/icon-study.svg");
	background-repeat: no-repeat;
	width: 7.8rem;
	height: 7.8rem;
	top: -6.05px;
	right: 17.07px;
	z-index: -1;
}

.exercise {
	grid-area: exercise;
	position: relative;
	background: linear-gradient(
		to top,
		var(--clr-neutral-very-dark-blue) 0%,
		var(--clr-primary-exercise) 50%,
		var(--clr-primary-exercise) 100%
	);
	isolation: isolate;
	z-index: 0;
}

.exercise::before,
.exercise::after {
	content: "";
	position: absolute;
	background-image: url("../images/icon-exercise.svg");
	background-repeat: no-repeat;
	width: 81px;
	height: 53.48px;
	top: -0.42px;
	right: 16.27px;
	z-index: -1;
}

.social {
	grid-area: social;
	position: relative;
	background: linear-gradient(
		to top,
		var(--clr-neutral-very-dark-blue) 0%,
		var(--clr-primary-social) 50%,
		var(--clr-primary-social) 100%
	);
	isolation: isolate;
	z-index: 0;
}

.social::before,
.social::after {
	content: "";
	position: absolute;
	background-image: url("../images/icon-social.svg");
	background-repeat: no-repeat;
	width: 73.6px;
	height: 100px;
	top: -15px;
	right: 13.48px;
	z-index: -1;
}

.self-care {
	grid-area: self-care;
	position: relative;
	background: linear-gradient(
		to top,
		var(--clr-neutral-very-dark-blue) 0%,
		var(--clr-primary-self-care) 50%,
		var(--clr-primary-self-care) 100%
	);
	isolation: isolate;
	z-index: 0;
}

.self-care::before,
.self-care::after {
	content: "";
	position: absolute;
	background-image: url("../images/icon-self-care.svg");
	background-repeat: no-repeat;
	width: 72px;
	height: 66px;
	top: -15px;
	right: 13.48px;
	z-index: -1;
}

/* Frontend Mentor | attribution */
.attribution {
	font-size: 11px;
	text-align: center;
	margin-bottom: 2rem;
}

.attribution__link {
	color: var(--clr-primary-accent);
}

/* Layout Media Queries */
@media only screen and (min-width: 1024px) {
	.container {
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
	}

	.dash {
		grid:
			"user work play study"
			"user exercise social self-care";
		gap: 3rem;
	}

	.profile {
		width: 255px;
		flex-direction: column;
		align-items:flex-start ;
	}

	.profile__img {
		margin: 3.7rem 0 4.3rem 3.2rem;
	}

	.profile-text {
		margin: 0;
		margin: 0 8.5rem 8rem 3.2rem;
	}

	.profile-text__sub-title {
		margin-bottom: 0.3rem;
	}

	.profile-text__title {
		font-size: 40px;
		line-height: 47px;
	}

	.time-periods {
		flex-direction: column;
		align-items: flex-start;
		margin: 2.6rem 0.5rem 3.2rem 3.2rem;
	} 

	.btn-daily,
	.btn-weekly {
		margin-bottom: 2.1rem;
	}

	.time-report {
		margin-top: 4.5rem;
		padding: 2.9rem 3.5rem 3.2rem 3rem;
	}

	.time-report__top {
		margin-bottom: 2.4rem;
	}

	.time-report__btm {
		width: 190px;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.time-report__btm--time {
		font-size: 56px;
		line-height: 66px;
		margin-bottom: 0.8rem;
	}
	
	.time-report__btm--previous {
		text-align: left;
	}

}

/* @media only screen and (max-width: 428px) {
    .container {
        min-width: 375px;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        min-width: 325px;
    }
} */
